.hide {
    display: none;
}

.plus {
    height: 24px;
    width: 24px;
    background-color: lightgray;
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px;
    outline: none;
    border: 0;
}

.list {
    list-style-type: none;
}

.list-item {
}

#status {
    height: 12px;
}
